<h3>Seleccion del Usuario</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nombre</th>
            <th scope="col">Autor</th>
            <th scope="col">Lecturas</th>
            <th scope="col">Semanas pedidas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>{{usuario1.nombre}}</td>
            <td></td>
            <th scope="col"></th>
        </tr>
    </tbody>
</table>