<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <img src="../assets/img/logo.jpg" alt="logo" class="img-thumbnail">
  <a class="navbar-brand" href="#">{{title}}</a>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/ranking']">Ranking de Libros</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="navbar-light bg-dark">
  {{title}}<img src="../assets/img/logo.jpg" alt="logo" class="img-thumbnail">
</footer>