    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Numero</th>
                <th scope="col">nombre</th>
                <th scope="col">autor</th>
                <th scope="col">veces Prestado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{libro1.numero}}</th>
                <td>{{libro1.nombre}}</td>
                <td>{{libro1.autor}}</td>
                <th scope="col">{{libro1.prestado}}</th>
            </tr>
            <tr>
                <th scope="row">{{libro1.numero}}</th>
                <td>{{libro1.nombre}}</td>
                <td>{{libro1.autor}}</td>
                <th scope="col">{{libro1.prestado}}</th>
            </tr>
            <tr>
                <th scope="row">{{libro1.numero}}</th>
                <td>{{libro1.nombre}}</td>
                <td>{{libro1.autor}}</td>
                <th scope="col">{{libro1.prestado}}</th>
            </tr>
        </tbody>
    </table>