<h3>Lista de libros</h3>
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tapa</th>
            <th scope="col">nombre</th>
            <th scope="col">autor</th>
            <th scope="col">Promedio</th>
            <th scope="col">descargas</th>
            <th>Calificacion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of libros" [ngClass]="{'muyLeido': libro.descargas>1000}">
            <td><img [src]="libro.img" [alt]="libro.nombre" class="imgLista"></td>
            <td>{{libro.nombre}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.promedio}}</td>
            <td>
                <ng-container *ngIf="libro.descargas>1000; else elseTemplate">
                    <span class="badge badge-danger">{{libro.descargas}}</span>
                </ng-container>
                <ng-template #elseTemplate>
                    {{libro.descargas}}
                </ng-template>
            </td>
            <td>
              <app-input-text-number [(calificacion)]= "libro.calificacion" (mejor)= "mejor($event)" (peor)="peor($event)"></app-input-text-number>
              <button class="btn btn-primary" (click)= addToValoracion(libro)>Valorar</button><button class="btn" (click)= addToValoracion(libro)>Leido</button>
            </td>
            <td>{{libro.calificacion}}</td>
          
        </tr>
    </tbody>
</table>