<h3>Lista de libros</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tapa</th>
            <th scope="col">nombre</th>
            <th scope="col">autor</th>
            <th scope="col">descargas</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of libros" [ngClass]="{'muyLeido': libro.descargas>1000}">
            <td><img [src]="libro.img" [alt]="libro.nombre"></td>
            <td>{{libro.nombre}}</td>
            <td>{{libro.autor}}</td>
            <td>{{libro.precio |currency}}</td>
            <td>
                <ng-container *ngIf="libro.descargas>1000; else elseTemplate">
                    <span class="badge badge-danger">{{libro.descargas}}</span>
                </ng-container>
                <ng-template #elseTemplate>
                    {{libro.descargas}}
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>